.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDD;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;
}

.card .card-cover {
    height: 250px;
    background-size: cover;
}

.card .card-body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}